<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>

<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${'name'}"></P>
    <p th:text="${'skinType'}"></p>
    <p th:test="${'manipedi'}"></p>
</div>
<div id = "servicesMenu">
<!--    create block with table-->
</div>
</body>
</html>